<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Create New Password</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

    <!-- Header -->
    <div th:replace="doctor-layout :: header"></div>

    <div class="main-wrapper">

        <!-- Sidebar -->
        <div th:replace="doctor-layout :: sidebar"></div>

        <!-- Main Content -->
        <div class="workspace">

            <div class="centered-page">

                <div class="centered-card">

                    <div class="content-board">

                        <h2 class="u-ta-center u-mb-25px">
                            Create New Password
                        </h2>

                        <p class="u-ta-center u-mb-25px">
                            Enter your new password below.
                        </p>

                        <!-- Error Message -->
                        <div th:if="${error}" class="alert alert-danger">
                            <span th:text="${error}"></span>
                        </div>

                        <form th:action="@{/doctor/update-password}" method="post">

                            <!-- Hidden Email -->
                            <input type="hidden"
                                   name="email"
                                   th:value="${email}">

                            <!-- New Password -->
                            <div class="input-block">
                                <label>New Password</label>

                                <input type="password"
                                       name="newPassword"
                                       class="field-element"
                                       placeholder="Enter New Password"
                                       required>
                            </div>

                            <!-- Confirm Password -->
                            <div class="input-block">
                                <label>Confirm Password</label>

                                <input type="password"
                                       name="confirmPassword"
                                       class="field-element"
                                       placeholder="Confirm Password"
                                       required>
                            </div>

                            <button type="submit"
                                    class="submit-btn u-w-100pct u-mt-20px"
                                   >
                                Update Password
                            </button>

                        </form>

                    </div>

                </div>

            </div>

        </div>

    </div>

</body>

</html>