<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Verify OTP</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<div th:replace="doctor-layout :: header"></div>

<div class="main-wrapper">

    <div th:replace="doctor-layout :: sidebar"></div>

    <div class="workspace">

        <div class="centered-page">

            <div class="centered-card">

                <div class="content-board">

                    <h2 class="u-ta-center u-mb-25px">
                        Verify OTP
                    </h2>

                    <form th:action="@{/doctor/verify-otp}" method="post">

                        <input type="hidden"
                               name="email"
                               th:value="${email}">

                        <div class="input-block">

                            <label>Enter OTP</label>

                            <input type="text"
                                   class="field-element"
                                   name="otp"
                                   maxlength="6"
                                   placeholder="Enter 6 Digit OTP"
                                   required>

                        </div>

                        <button class="submit-btn u-w-100pct"
                                type="submit"
                               >
                            Verify OTP
                        </button>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>

</body>

</html>